.wrap {
  padding: 10px;
  display: flex;
  column-gap: 8px;
  border-bottom: 1px solid #f6f6f6;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.popularTag {
  margin-left: 4px;
}

.description {
  font-size: 14px;
  color: gray;
}

.price {
  font-size: 16px;
  font-weight: 600;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.popularTag,
.tagList li {
  padding: 2px 4px;

  background: lightcyan;
  border-radius: 4px;

  color: skyblue;
  font-size: 11px;
  font-weight: 500;
}

.imgBox {
  width: 200px;
  height: 200px;

  flex: none;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid gainsboro;
}

.imgBox img {
  object-fit: cover;
}
